@font-face {
    font-family: 'WorkSansItalic';
    src: url('./assets/fonts/WorkSans-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'WorkSans';
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
}