/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "WorkSans";
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background-color: var(--light-pink);
    position: relative;
    /*width: 100%;*/
    
}
main{
    margin: 40px;
    background-color: white;
    position: absolute;
    top:100px;
    border-radius: 10px;
    max-width: 585px;
}
.desktop-background{
  display: none;
}
.mobile-background{
  display: block;
 }
h1, .accordion{
    margin: 20px;
}
h3{
  font-size: 16px;
}
.title{
    color: var(--dark-purple);
    margin: 0;
}
p{
    color: var(--grayish-purple);
    font-size: var(--p-font-size);
}
.main-icon-and-title{
    display: flex;
    align-items: center;
    margin: 10px 20px 0 20px;
}
.main-icon-and-title .title{
  font-size: 32px;
  margin-left: 10px;
}
.star{
  width: 1.5em;
}
.title-and-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
}
.icon{
  margin: 0 10px;
}
.title-and-icon .title:hover{
  color: var(--purple);
  cursor:pointer;
}
.hide{
  display: none;
}
.show{
  display: block;
}

.title-and-icon:focus{
  outline-color: var(--purple);
}

@media only screen and (min-width:376px){
 .mobile-background{
    display: none;
  }
 .desktop-background{
    display: block;
    
  }
}

@media only screen and (min-width:377px) and (max-width: 1024px){
  main{
    top:15px;
  }
 
} 

@media only screen and (min-width: 1440px) {
  main{
    top:150px;
  }
}  